@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'kanit';
}

li {
  list-style: none;
}

a {
  all: unset;
}

h1 {
  font-style: italic;
  font-weight: 700;
  font-size: 70px;
  line-height: 60px;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.text {
  margin-left: 15vw;
  margin-right: 15vw;
}

select {
  font-size: 17px;
  border-style: none;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

button {
  border-style: none;
  background-color: white;
  cursor: pointer;
}

/* SCROLL */

*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: white
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #818181;
    border-radius: 20px;
    border: 3px solid #818181;
}