@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-image: url(../imgs/backgroundFSUM.png);
  margin-bottom: 20px;
}

li {
  list-style: none;
}

a {
  all: unset;
  font-family: 'Kanit';
}

h1 {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 700;
  font-size: 70px;
  line-height: 60px;
}

p {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.text {
  margin-left: 20vw;
  margin-right: 20vw;
}

/* SCROLL */

*::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #818181;
    border-radius: 20px;
    border: 3px solid #818181;
}

/* BLACK SEPARATION */

.div {
  margin-top: -20px;
  width: 70vw;
  height: 5px;
  background: black;
  border-radius: 10px;
}