.loader {
    background: url(imgs/loader.gif) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

.introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url(../imgs/fs.png);
    color: white;
    background-position: center;
    background-size: cover;
}

.introduction-text {
    margin-top: -20px;
    margin-bottom: 70px;
}

.why-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.why-text {
    margin-top: -20px;
}

.depart-container {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.depart-grid {
    gap: 30px 30px;
}

.card {
    font-weight: bold;
    background: #e52516;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border-radius: 20px;
    padding: 10px;
    transition: all .5s ease-in-out;
}

.mnt:hover {
    cursor: pointer;
    transition: all .5s ease;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/departments/mnt.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pwrt:hover {
    transition: all .5s ease;
    cursor: pointer;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/departments/pwrt.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ecu:hover {
    transition: all .5s ease;
    cursor: pointer;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/departments/ecu.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dvrt:hover {
    transition: all .5s ease;
    cursor: pointer;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/departments/dvrt.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.body:hover {
    transition: all .5s ease;
    cursor: pointer;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/departments/body.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.stats-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stat-cards-container {
    gap: 50px 50px;
    max-width: 900px;
}

.stat-card {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
    background: #e52516;
    color: white;
    border-radius: 20px;
    height: auto;
    width: 400px;
}

.stat-icon {
    height: auto;
    width: 100px;
}

.stat-number {
    font-size: 40px;
    font-weight: bold;
}

.competition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.competition-text {
    margin-top: -20px;
}

.car-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.model {
    margin-top: -20px;
    border-radius: 20px;
    height: 500px;
    width: 900px;
}

.green-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.green-text {
    margin-top: -20px;
}

.green-img {
    height: auto;
    width: 300px;
}

.roadmap-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.month {
    font-family: 'Kanit';
    font-size: 40px;
    font-weight: bold;
    background: #e52516;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.goals {
    margin-left: 0vw;
    margin-right: 0vw;
}

.parteners-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.parteners-title {
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    color: white;
    background: #e52516;
    border-radius: 20px;
    padding: 30px 20px;
    transition: all .2s ease-in-out;
}

.parteners-title:hover {
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sponsors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.sponsors-title {
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    color: white;
    background: #e52516;
    border-radius: 20px;
    padding: 30px 20px;
    transition: all .2s ease-in-out;
}

.sponsors-title:hover {
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}