.introduction-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url(../imgs/fspt_group_photo.jpg);
    background-position: 0% 5%;
    color: white;
    background-size: cover;
}

.introduction-text {
    margin-top: -20px;
    margin-bottom: 70px;
}

.why-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.why-text {
    margin-top: -20px;
}

.depart-container {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.depart-grid {
    gap: 30px 30px;
}

.card {
    font-weight: bold;
    background: #e52516;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 20px;
    padding: 10px;
    transition: all .5s ease-in-out;
}

.mnt:hover {
    cursor: pointer;
    transition: all .5s ease;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/departments/mnt.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pwrt:hover {
    transition: all .5s ease;
    cursor: pointer;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/departments/pwrt.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ecu:hover {
    transition: all .5s ease;
    cursor: pointer;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/departments/ecu.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dvrt:hover {
    transition: all .5s ease;
    cursor: pointer;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/departments/dvrt.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.chassis_aero:hover {
    transition: all .5s ease;
    cursor: pointer;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/departments/chassis_aero.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.suspension_steering:hover {
    transition: all .5s ease;
    cursor: pointer;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/departments/suspension_steering.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.stats-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stat-cards-container {
    gap: 50px 50px;
    max-width: 900px;
}

.stat-card {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
    background: #e52516;
    color: white;
    border-radius: 20px;
    height: auto;
    width: 400px;
}

.stat-icon {
    height: auto;
    width: 100px;
}

.stat-number {
    font-size: 40px;
    font-weight: bold;
}

.competition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
}

.competition-text {
    margin-top: -20px;
}

.class-card-container {
    gap: 20px 20px;
}

.class-card {
    border-radius: 20px;
    width: 290px;
    height: 200px;
    background-color: #e52516;
    color: white;
}

.class-text {
    margin: 10px;
}

.competition-our-class {
    background-color: #e52516;
    color: white;
    padding: 15px;
    border-radius: 20px;
    margin-top: -10px;
}

.assembly-gif {
    border-radius: 20px;
    width: 55%;
    height: auto;
}

.car-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.model {
    margin-top: -20px;
    border-radius: 20px;
    height: 500px;
    width: 900px;
}

.green-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.green-text {
    margin-top: -20px;
}

.green-img {
    height: auto;
    width: 300px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.partener-button {
    height: auto;
    width: 40%;
    padding: 20px 5px;
    font-style: italic;
    font-weight: bold;
    color: white;
    background: #e52516;
    border-radius: 20px;
    font-size: 40px;
    transition: all .2s ease-in-out;
    text-align: center;
}

.partener-button:hover {
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.meet-the-team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.meet-the-team-title {
    font-size: 70px;
    background-color: #e52516;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    padding: 80px;
    font-style: italic;
    font-weight: bold;
}

.meet-the-team-title:hover {
    transition: all .5s ease;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/group_pic.jpg);
    background-position: 10% 10%;
    background-size: cover;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fspt23-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}

.fspt23-text {
    margin-top: -20px;
}

.fspt23-trophies {
    height: auto;
    width: 40vw;
    border-radius: 20px;
}

@media (max-width: 800px) {
    .introduction-container {
        background-position: 50% 50%;
    }
    .stat-card {
        width: 300px;
    }

    .stat-icon {
        width: 80px;
    }

    .class-card {
        width: 260px;
        height: 160px;
    }

    .green-img {
        width: 200px;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .partener-button {
        font-size: 20px;
        padding: 10px 70px;
    }

    .meet-the-team-title {
        font-size: 30px;
        line-height: 40px;
        padding: 10px 60px;
    }
}