.nav {
    overflow: hidden;
    background-color: #e52516;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
}

.logo_white {
    height: auto;
    width: 15%;
    transition: all .2s ease-in-out;
    margin-left: 5%;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .logo_white{
        width: 20%;
    }    
}

.contact-button {
    font-family: 'Kanit';
    background: white;
    border-radius: 10%;
    padding: 5px 10px;
    margin-right: 5%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.contact-button:hover {
    transform: scale(1.05);
}