header {
    width: 100%;
    background-color: #e52526;
    position: fixed;
    z-index: 9999999;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-branding {
    margin: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    z-index: 99999992;
    background-color: #e52526;
}

.logo-white {
    height: 40px;
    width: auto;    
    cursor: pointer;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    gap: 5px;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 5%;
    z-index: 99999992;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}
  
@media (max-width: 800px) {
    .hamburger {
      display: block;
    }

   .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

   .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

   .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

   .nav-menu {
      position: fixed;
      top: -200%;
      gap: 0;
      flex-direction: column;
      background-color: #e52526;
      width: 100%;
      text-align: center;
      transition: .5s;
      padding: 10px;
      z-index: 9999999;
    }

   .nav-item {
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

   .nav-menu.active {
      left: 0;
      top: 50px;
    }
}

.contact {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    background: white;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-logo {
    height: auto;
    width: 40px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact:hover {
    transform: scale(1.05);
}

.social-logo:hover {
    transform: scale(1.05);
}