.parteners-title-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 78px;
    text-align: center;
    margin-bottom: 20px;
}

.parteners-grid-container {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    margin-top: 40px;
    gap: 50px 150px;
}

.partener {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 250px;
    transition: all .2s ease-in-out;
}

.partener:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.part {
    height: 100%;
    width: 100%;
}

