.parteners-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.parteners-title {
    background-color: #e52516;
    color: white;
    margin-top: 120px;
    border-radius: 20px;
    padding: 40px;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
}

.parteners-text-container {
    text-align: center;
}

.parteners-grid-container {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.grid {
    gap: 50px 120px;
}

.part:hover, .namecum:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.namecum {
    transition: all .2s ease-in-out;
}

.part {
    height: auto;
    width: 250px;
    transition: all .2s ease-in-out;
}

@media (max-width: 800px) {
    .parteners-title {
        font-size: 25px;
        padding: 25px;
    }

    .part .namecum {
        width: 80%;
    }
}