.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../imgs/pwrt.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: 78px;
    vertical-align: middle;
    text-align: center;
    color: white;
}