/* NEWS SLIDER */

.news-slider-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.autoplay {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.autoplay img { 
  margin: 10px auto; 
}

.news-card {
  height: auto;
  width: 70%;
  border-radius: 20px;
}

.news-card {
  transition: all .2s ease-in-out;
}

.news-card:hover {
  transform: scale(1.05);
}

.slick-dots li button:before {
  background-color: #084d6e;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  text-indent: -9999px;
  overflow:hidden;
  margin-top: 20px;
}

.slick-track {
  margin:auto;
}