.title-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 78px;
    text-align: center;
}

.sponsors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -60px;
}

.tier {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tier-title {
    font-weight: bold;
    font-size: 30px;
    width: 70vw;
    padding: 5px;
    background-color: #e52516;
    border-radius: 20px;
    color: white;
}

.work-with-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.work-with-us-button {
    font-weight: bold;
    background-color: #e52516;
    color: white;
    font-size: 50px;
    border-radius: 20px;
    padding: 30px 20px;
    transition: all .2s ease-in-out;
}

.work-with-us-button:hover {
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.company-grid {
    margin-top: 20px;
    gap: 50px;
}

.company {
    height: auto;
    width: 250px;
    transition: all .2s ease-in-out;
}

.company:hover {
    cursor: pointer;
    transform: scale(1.05);
}