.work-with-us-title-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 78px;
    text-align: center;
}

.why-invest-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.why-invest-title {
    font-size: 40px;
    margin-bottom: -20px;
}

.how-to-invest-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-to-invest-title {
    font-size: 40px;
}

.investor-tiers-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.investor-tiers-title {
    font-size: 40px;
}

.investment-methods-container {
    gap: 40px 40px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.investment-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #e52516;
    min-height: 500px;
    max-width: 500px;
    padding: 0px 20px;
    border-radius: 20px;
    margin: 5px;
}

.method-title {
    font-family: 'Kanit';
    font-size: 30px;
    font-weight: bold;
}

.img {
    height: auto;
    width: 100px;
    margin-top: 20px;
}

.investor-tiers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.investment-packages-container {
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.package {
    border-style:solid;
    border-color: #e52516;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    max-width: 800px;
    padding: 0px 20px;
    margin: 5px;
}

.expetations {
    color: white;
    background-color: #e52516;
    border-radius: 20px;
    margin-top: -10px;
    padding: 15px;
}